<section>
    {{#if loggedIn}}
    <div class="dashboard-container">
        <div class="dashboard-content"> 
            <div class="dashboard-access">
                <div class="top-banner">
                    <a href="/dashboard">
                    <div class="user-circle">
                        <p class="user-name">&#128516;</p>
                    </div>
                    </a>
                    <div class="create-blog">
                        <i class='bx bxs-paper-plane'></i>
                        <p>Make a Post!</p>
                    </div>
                </div>
                <div class="dashboard-textarea">
                    <div class="textarea-left">
                        <form class="dashboard-text">
                            <div class="dashboard-title-text">
                                <textarea type="text" id="blog-title" rows="1" placeholder="Title..."></textarea>
                                <textarea type="text" id="blog-body" rows="5" placeholder="What do you want to say?..."></textarea>
                            </div>
                            <button id="blog-submit">Share Post</button>
                        </form>
                    </div>
                </div>
                {{!-- {{#if blog.length}} --}}
                <div class="home-blog-card">
                    <div class="top-section">
                        <div class="blog-title">
                            <h2>{{id}}</h2>
                        </div>
                        <div class="blog-user-created">
                            <p>{{username}}</p>
                            <p>{{format_date date_created}}</p>
                        </div>
                    </div>
                    <div class="middle-section">
                        <div class="blog-body">
                            <p>{{blog.body}}</p>
                        </div>
                    </div>
                    <div class="bottom-section">
                        <div class="blog-comment-count">
                            
                        </div>
                        <div class="blog-comment-icon">
                            <i class='bx bxs-comment-detail bx-sm'></i>
                        </div>
                    </div>
                </div>
                {{!-- {{/if}} --}}
            </div>
        </div>
    </div>
    {{else}}
    <div class="dashboard-message">
        <div class="login-message">
            <div class="message-text">
                <p>You must be logged in to view the dashboard.</p></p>
            </div>
            <div class="message-button">
                <a href="/login"><button>LOG IN</button></a>
            </div>
        </div> 
    </div>
    {{/if}}
</section>