{{#each blogs as |blog|}}
<div class="home-blog-card">
    <div class="top-section">
        <div class="blog-title">
            <h2>{{blog.title}}</h2>
        </div>
        <div class="blog-user-created">
            <p>{{blog.user.username}}</p>
            <p>{{format_date blog.date_created}}</p>
        </div>
    </div>
    <div class="middle-section">
        <div class="blog-body">
            <p>{{blog.body}}</p>
        </div>
    </div>
    <div class="bottom-section">
        <div class="blog-comment-count">
        </div>
        <div class="blog-comment-icon">
            <i class='bx bxs-comment-detail bx-sm'></i>
        </div>
    </div>
    <div class="home-comments">
        {{#if ../loggedIn}}
            <div class="user-enter">
            <div class="user-profile">
                <p class="user-name">&#128516;</p>
            </div>
            <div class="user-comment">
                <form class="user-comment-form">
                    <input type="text" id="home-comment" placeholder="Add a comment...">
                    <button>Comment</button>
                </form>
            </div>
        </div>
        {{#each blog.comments}}
        <div class="other-comments">
            <div class="home-other-comment">
                <div class="other-name-time">
                    <p>{{format_date date_created}}</p>
                </div>
                <div class="other-body">
                    <p>{{comment}}</p>
                </div>
            </div>
        </div>
        {{/each}}
        {{else}}
        <div class="home-comment-message message-button">
            <p>You must be logged in to comment</p>
            <a href="/login"><button>LOG IN</button></a>
        </div>
        {{/if}}
    </div>
</div>
{{/each}}
    